/* **************************************
 * appbar.less
 *
 *****************************************
 */


@import '../partials/partials';

@lineHeight: 56px;

.app-bar {

  height: 56px;
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 16px;
  box-shadow: 0 2px 4px #e0e0e0;
  color: #424242;
  background: #EEEEEE;
  overflow: hidden;
  display: table;
  a {
    text-decoration: none;
    color: inherit;
  }

  &--fixed { //Fixed position, other content scrolls
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
  }

  &__navigation, &__title {
    display: table-cell;
    vertical-align: middle;
  }

  &__navigation {
    font-size: 14px;
    list-style: none;
  }

  &__navigation-item {
    display: inline-block;
    margin-right: 8px;
    line-height: @lineHeight;
  }

  &__action { //A button on the nav bar
    .square(42px);
    display: inline-block;
    margin: 0 8px;
    background: center/60% no-repeat;
  }

  &__title { //The text/logo of the app
    font-size: 20px;
    font-weight: 700;
  }

}