/* **************************************
 * controls.less
 *
 *****************************************
 */


@expandSVG: 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z" fill="#828282"/><path d="M0 0h24v24H0z" fill="none"/></svg>';
@expandSVGUrlEnc: '%3Csvg+xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22+width%3D%2224%22+height%3D%2224%22+viewBox%3D%220+0+24+24%22%3E%3Cpath+d%3D%22M16.59+8.59L12+13.17+7.41+8.59+6+10l6+6+6-6z%22+fill%3D%22%23828282%22%2F%3E%3Cpath+d%3D%22M0+0h24v24H0z%22+fill%3D%22none%22%2F%3E%3C%2Fsvg%3E';

@primary: #03A9F4;
@secondary: darken(#03A9F4, 5%);

.btn {
    border:1px solid #dcdcdc;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    display: inline-block;
    padding: 8px 10px;
    color:#424242;
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    transition: background 0.2s;
    text-decoration: none;
    line-height: normal;
    font-family: 'Roboto', Arial, sans-serif;

    &:active {
        background: linear-gradient(#dfdfdf, #dfdfdf);
    }

    &--primary {
        color: #fafafa;
        border: 1px solid #058fce;
        background: #03A9F4 linear-gradient(@primary 60%, @secondary 98%);

        &:active {
            background: linear-gradient(@secondary, @secondary);
        }
    }

    &--flat {
        background: transparent;
        border: none;
        transition: background 0.2s;
        color: #444444;

        &:active {
            background: #efefef;
        }
    }
}

.btn:disabled {
    background: #fafafa linear-gradient(#fafafa 60%, #e8e8e8 98%);
    border: 1px solid #d6d6d6;
    color: #c5c5c5;
}


.field {
    margin-bottom: 18px;

    &:last-of-type { margin-bottom: 24px; }
}

label { 
    font-weight: 700; 
    display: block; 
    margin-bottom: 10px;
    font-size: 16px;
}

.inline-label { display: inline; font-weight: normal; }

input[type='email'], 
input[type='number'], 
input[type='password'], 
input[type='search'], 
input[type='tel'], 
input[type='text'], 
input[type='url'], textarea, select {
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #424242;
    font-family: inherit;
    transition: border 0.2s;
}

input[type='email']:focus, 
input[type='number']:focus, 
input[type='password']:focus, 
input[type='search']:focus, 
input[type='tel']:focus, 
input[type='text']:focus, 
input[type='url']:focus, textarea:focus {
    border: 1px solid #00BCD4;
}

//noinspection CssOverwrittenProperties
select {
    appearance: none;
    //TODO: Make this work in IE
    //background: #fff url(@expandSVG) 98% center  no-repeat;
    //noinspection CssUnknownTarget
    background: #fff url('sprites/expand.svg') 98% center  no-repeat;
    &::-ms-expand { display: none; }
}

@media screen and (min-width: 360px) {
    .btn { padding: 16px 28px; }
}

@media screen and (min-width: 769px) {
    input[type='email'], 
    input[type='number'], 
    input[type='password'], 
    input[type='search'], 
    input[type='tel'], 
    input[type='text'], 
    input[type='url'], textarea, select {
        display: inline-block;
        width: auto;
        font-family: inherit;
    }

    select { min-width: 160px; }

    .btn { padding: 10px 16px; text-transform: capitalize; font-size: 13px; }
}