/* **************************************
 * tables.less
 *
 *****************************************
 */


@grey: #EEEEEE;

table {
  width: 100%;
  margin: 16px auto;

  thead td {
    font-weight: bold;
    background-color: @grey;
  }

  td {
    padding: 8px;
  }

}

.table {
  &-bordered {
    border: 1px solid @grey;
  }

  &-striped {
    tr:nth-of-type(even) td {
      background-color: #f9f9f9;
    }
  }
}