/* **************************************
 * text.less
 *
 *****************************************
 */


/* Header tags, body and list styling */

h1 { font-size: 50px; }

h2 { font-size: 42px; }

h3 { font-size: 36px; }

h4 { font-size: 30px; }

h5 { font-size: 24px; }

h1, h2, h3, h4, h5 { margin: 14px 0; }

body {
    font-size: 16px;
    color: #616161;
}

ol, ul {
    padding-left: 16px;

    & li { line-height: 1.4; }
}

ul {
    list-style-type: circle;
}