/* **************************************
 * tools.less
 *
 *****************************************
 */

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.container {
    width: 100%;
    margin: 0 auto;
    min-width: 288px;
}

.container--medium {
    max-width: 960px;
}

.container--narrow {
    max-width: 768px;
}

.container--padded {
    padding: 0 16px; /* Match the padding of the app bar */
}

.display-table { display: table; }

.display-table-cell { display: table-cell; }

.float-left {
    float: left;
}

.float-right {
    float: right;
}


@media screen and (min-width: 769px) {
    .container--padded { padding: 0; }
}