.clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.bordered() {
  border: 1px solid black;
}

.square(@width) {
  width: @width;
  height: @width;
}

@accent: #2196f3;